<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geladeirinha</title>
</head>
<body class="container">
    <div class="header">
        <h1>Boa! A sua tarefa foi gravada</h1>
        <a href="{% url 'tarefas:list-todo' %}" class="btn btn-primary">Ver Lista de Tarefas</a>
        <a href="{% url 'tarefas:create_todo' %}" class="btn btn-secondary">Registrar Outra Tarefa</a>
        
    </div>
    
</body>
</html>