<html>

    <head>

    </head>

    <body>

        <form action="{% url 'cadastro'%}" method="POST">{% csrf_token %}
            <input type="text" placeholder="USERNAME..." name="username">
            <br>
            <br>
            <input type="email" placeholder="EMAIL..." name="email">
            <br>
            <br>
            <input type="password" placeholder="SENHA..." name="senha">
            <br>
            <br>
            <input type="submit" value="CADASTRAR">
        </form>
    </body>


</html>