{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/geladeirinhacss.css' %}">
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 94px; height: 94px; left: 36px; top: 36px; position: absolute">
            <svg width="94" height="94" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_99_327" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="94" height="94">
                <rect width="94" height="94" rx="15" fill="#EFE1D7"/>
                </mask>
                <g mask="url(#mask0_99_327)">
                <path d="M35.7213 54.52C35.7213 57.5117 36.9097 60.3808 39.0251 62.4962C41.1405 64.6116 44.0096 65.8 47.0013 65.8C49.9929 65.8 52.862 64.6116 54.9774 62.4962C57.0928 60.3808 58.2812 57.5117 58.2812 54.52L47.0013 54.52L35.7213 54.52Z" fill="#313131"/>
                <path d="M50.7598 58.28L50.7598 62.04C50.7598 64.1166 49.0764 65.8 46.9998 65.8V65.8C44.9232 65.8 43.2398 64.1166 43.2398 62.04L43.2398 58.28L50.7598 58.28Z" fill="#FF5454"/>
                <circle cx="23.4996" cy="46.06" r="9.4" fill="#4A4A4A"/>
                <circle cx="23.4996" cy="46.06" r="9.4" fill="#4A4A4A"/>
                <circle cx="70.4996" cy="46.06" r="9.4" fill="#4A4A4A"/>
                <circle cx="25.3797" cy="44.18" r="4.7" fill="#FBF1F1"/>
                <circle cx="72.3797" cy="44.18" r="4.7" fill="#FBF1F1"/>
                </g>
                </svg>
                
        </div>
        <div style="left: 154px; top: 75px; position: absolute; color: black; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Geladeirinha</div>
        <div style="left: 290px; top: 260px; position: absolute; color: black; font-size: 64px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Sua rotina.<br/>Mais produtiva e<br/>organizada.</div>
        <div style="left: 290px; top: 1225px; position: absolute; color: black; font-size: 64px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Clientes satisfeitos.<br/>E cada vez mais deles<br/>por aqui.</div>
        <div style="left: 290px; top: 2345px; position: absolute; color: black; font-size: 64px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Use o que precisar.<br/>Sem salvar coisas <br/>em outras coisas.</div>
        <div style="left: 290px; top: 5045px; position: absolute; color: black; font-size: 64px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Seu espaço.<br/>Interagindo com<br/>todas as áreas.</div>
        <div style="width: 380px; height: 53px; left: 290px; top: 668px; position: absolute; background: black; border-radius: 8px"></div>
        <div style="width: 380px; height: 53px; left: 290px; top: 1633px; position: absolute; background: black; border-radius: 8px"></div>
        <div style="left: 316px; top: 684px; position: absolute; color: #E6E6E6; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word"><a href="/login" style="text-decoration: none; color: #E6E6E6;"> Comece a usar o Geladeirinha</a></div>
        <div style="left: 352px; top: 1649px; position: absolute; color: #E6E6E6; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word"><a href="/login" style="text-decoration: none; color: #E6E6E6;">Veja nossas avaliações</a></div>
        <div style="left: 290px; top: 534px; position: absolute; color: black; font-size: 32px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Geladeirinha é onde toda a sua rotina se torna mais<br/>leve e confortável, não importa o seu ambiente.</div>
        <div style="left: 290px; top: 1499px; position: absolute; color: black; font-size: 32px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Geladeirinha encanta todos quando se trata em mostrar<br/>uma nova experiência de organização.</div>
        <div style="left: 317px; top: 75px; position: absolute; color: black; font-size: 20px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Produtos</div>
        <div style="left: 423px; top: 75px; position: absolute; color: black; font-size: 20px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Soluções</div>
        <div style="left: 531px; top: 75px; position: absolute; color: black; font-size: 20px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Recursos</div>
        <div style="width: 246px; height: 53px; left: 1043px; top: 60px; position: absolute; background: black; border-radius: 8px"></div>
<div style="left: 1074px; top: 75px; position: absolute; color: #E6E6E6; font-size: 20px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Utilize gratuitamente</div>
<div style="left: 1321px; top: 75px; position: absolute; color: black; font-size: 20px; font-family: Archivo; font-weight: 400; word-wrap: break-word"><a href="/login" style="text-decoration: none; color: #000000;">Entrar</a></div>
        <div style="width: 774px; height: 435px; left: 290px; top: 2688px; position: absolute; background: #EEFFBD; box-shadow: 50px 50px 50px; filter: blur(50px)"></div>
        <div style="width: 774px; height: 435px; left: 290px; top: 2688px; position: absolute; background: rgba(244.37, 244.37, 244.37, 0.95)"></div>
        <div style="width: 774px; height: 435px; left: 290px; top: 3539px; position: absolute; background: #CEBDFF; box-shadow: 50px 50px 50px; filter: blur(50px)"></div>
        <div style="width: 774px; height: 435px; left: 290px; top: 3539px; position: absolute; background: rgba(244.37, 244.37, 244.37, 0.95)"></div>
        <div style="width: 774px; height: 435px; left: 290px; top: 4438px; position: absolute; background: #BDFFCC; box-shadow: 50px 50px 50px; filter: blur(50px)"></div>
        <div style="width: 774px; height: 435px; left: 290px; top: 4438px; position: absolute; background: rgba(244.37, 244.37, 244.37, 0.95)"></div>
        <div style="width: 906px; height: 435px; left: 290px; top: 5562px; position: absolute; background: rgba(244.37, 244.37, 244.37, 0.95)"></div>
        <div style="width: 150px; height: 150px; left: 286px; top: 5345px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 150px; height: 150px; left: 476px; top: 5345px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 150px; height: 150px; left: 666px; top: 5345px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 150px; height: 150px; left: 856px; top: 5345px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 150px; height: 150px; left: 1046px; top: 5345px; position: absolute; background: #D9D9D9"></div>
        <div style="left: 290px; top: 6213px; position: absolute; color: black; font-size: 64px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Comece agora.<br/>Sem custos e com o<br/>Geladeirinha por perto.</div>
        <div style="width: 380px; height: 53px; left: 290px; top: 6621px; position: absolute; background: black; border-radius: 8px"></div>
        <div style="left: 316px; top: 6637px; position: absolute; color: #E6E6E6; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word"><a href="/cadastro" style="text-decoration: none; color: #E6E6E6;">Comece a usar o Geladeirinha</a></div>
        <div style="left: 290px; top: 6487px; position: absolute; color: black; font-size: 32px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Teste, de graça, o Geladeirinha. Adicione toda sua estrutura<br/>por um preço depois.</div>
        <div style="width: 1440px; height: 821px; left: 0px; top: 7047px; position: absolute; background: #313131"></div>
        <div style="width: 100px; height: 100px; left: 290px; top: 7118px; position: absolute; background: #D9D9D9; border-radius: 24px"></div>
        <div style="left: 427px; top: 7157px; position: absolute; color: white; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Geladeirinha</div>
        <div style="left: 638px; top: 7157px; position: absolute; color: white; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Produtos</div>
        <div style="left: 638px; top: 7207px; position: absolute; color: white; font-size: 20px; font-family: Archivo; font-weight: 400; line-height: 32px; word-wrap: break-word">Produto<br/>Produto<br/>Produto</div>
        <div style="left: 809px; top: 7207px; position: absolute; color: white; font-size: 20px; font-family: Archivo; font-weight: 400; line-height: 32px; word-wrap: break-word">Solução<br/>Solução<br/>Solução</div>
        <div style="left: 982px; top: 7207px; position: absolute; color: white; font-size: 20px; font-family: Archivo; font-weight: 400; line-height: 32px; word-wrap: break-word">Recurso<br/>Recurso<br/>Recurso</div>
        <div style="left: 638px; top: 7409px; position: absolute; color: white; font-size: 20px; font-family: Archivo; font-weight: 400; line-height: 32px; word-wrap: break-word">O que somos<br/>Trabalhe conosco<br/>Contate-nos</div>
        <div style="left: 809px; top: 7157px; position: absolute; color: white; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Soluções</div>
        <div style="left: 982px; top: 7157px; position: absolute; color: white; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Recursos</div>
        <div style="left: 638px; top: 7359px; position: absolute; color: white; font-size: 20px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">Sobre Nós</div>
        <div style="width: 94px; height: 94px; left: 293px; top: 7121px; position: absolute">
            <svg width="94" height="94" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_99_327" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="94" height="94">
                <rect width="94" height="94" rx="15" fill="#EFE1D7"/>
                </mask>
                <g mask="url(#mask0_99_327)">
                <path d="M35.7213 54.52C35.7213 57.5117 36.9097 60.3808 39.0251 62.4962C41.1405 64.6116 44.0096 65.8 47.0013 65.8C49.9929 65.8 52.862 64.6116 54.9774 62.4962C57.0928 60.3808 58.2812 57.5117 58.2812 54.52L47.0013 54.52L35.7213 54.52Z" fill="#313131"/>
                <path d="M50.7598 58.28L50.7598 62.04C50.7598 64.1166 49.0764 65.8 46.9998 65.8V65.8C44.9232 65.8 43.2398 64.1166 43.2398 62.04L43.2398 58.28L50.7598 58.28Z" fill="#FF5454"/>
                <circle cx="23.4996" cy="46.06" r="9.4" fill="#4A4A4A"/>
                <circle cx="23.4996" cy="46.06" r="9.4" fill="#4A4A4A"/>
                <circle cx="70.4996" cy="46.06" r="9.4" fill="#4A4A4A"/>
                <circle cx="25.3797" cy="44.18" r="4.7" fill="#FBF1F1"/>
                <circle cx="72.3797" cy="44.18" r="4.7" fill="#FBF1F1"/>
                </g>
                </svg>
                
        </div>
    </div>
</body>
</html>