{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style/styles.css' %}">
    <title>LOGIN GELADEIRINHA</title>
</head>
<body class="container">
    <div class="header" id="login">
        <form class="login-form" action="{% url 'login'%}" method="POST">
            <img class="img" src="{% static 'images/geladeirinha-logo.png' %}" alt="Geladeirinha">
            <h1>LOGIN GELADEIRINHA</h1>
            <div class="inputs">
                {% csrf_token %}
                <input class="input-field" type="text" placeholder="USERNAME..." name="username">
                <input class="input-field" type="password" placeholder="SENHA..." name="senha">
                <input class="button" type="submit" value="LOGAR">
            </div>
        </form>
    </div>

</body>
</html>

